* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --darkBlue: #131921;
  --darkGray: #3b4149;
  --mediumGray: #777777;
  --lightGray: #ededed;
  --ultimateLightGray: #f2f2f2;
  --orange: #fea569;
  --darkOrange: #bf4800;
  --mediumBlue: #232f3e;
  --background: #f5f5f7;

  --ultimateDarkred: #1c1b1b;
}
body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  color: white;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-22 {
  gap: 22px;
}
.gap-30 {
  gap: 30px;
}

.button {
  background-color: var(--mediumBlue);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}

.button:hover {
  background-color: var(--orange);
  color: white;
}

.card-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* Header styles */

.header-top-strip {
  border-bottom: 1px solid var(--darkGrey);
  background-color: var(--darkBlue);
}

.header-upper {
  background-color: var(--darkBlue);
}

.header-upper .input-group-text {
  background-color: var(--orange);
}

.header-bottom {
  background-color: var(--mediumBlue);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  background-color: var(--darkBlue);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}
.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--darkGrey);
}
.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--orange) !important;
}
.header-bottom .dropdown-item:hover {
  background-color: transparent;
}

/* Footer styles */
footer {
  background-color: var(--mediumBlue);
}
footer:not(:first-child) {
  border-top: 1px solid var(--darkGrey);
}
footer .input-group-text {
  background-color: var(--mediumBlue);
  color: white;
  padding: 8px 17px;
}

/*Home page styles*/
.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--darkOrange);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 52px;
  line-height: 64px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--darkGrey);
}

.small-banner-content {
  top: 25%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--darkOrange);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: var(--darkGrey);
}

.small-banner {
  width: 48%;
}

.home-wrapper-2 {
  background-color: var(--background);
}
.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories > div {
  width: 25%;
  padding: 10px 10px 10px 20px;
}
.categories > div > div {
  width: 60%;
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(4) {
  border-bottom: 1px solid var(--lightGray);
}
.categories > div:nth-child(1),
.categories > div:nth-child(2),
.categories > div:nth-child(3),
.categories > div:nth-child(5),
.categories > div:nth-child(6),
.categories > div:nth-child(7) {
  border-right: 1px solid var(--lightGray);
}

/*Blog Cart Styles*/
.blog-cart {
  background-color: white;
  border-radius: 10px;
}
.blog-cart img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.blog-content {
  padding: 15px;
}

.blog-content p.date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  padding: 0;
  color: var(--mediumGray);
}

.blog-content h5 {
  font-size: 18px;
  color: var(--darkBlue);
}

.blog-content p.description {
  font-size: 13px;
  line-height: 22px;
  color: var(--mediumGray);
}

.single-blog-card h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--ultimateDarkred);
}
.single-blog-card p {
  font-size: 14px;
  color: var(--mediumGray);
}
.single-blog-card a {
  font-style: 15px;
  color: var(--mediumGray);
  margin-bottom: 20px;
}
/* Product Card Styles*/
.product-card {
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
}

.product-card:hover .action-bar {
  right: 15px;
}

.product-card .product-details h6 {
  color: var(--darkOrange);
  font-size: 13px;
}

.product-card .product-details h5 {
  color: var(--ultimateDarkred);
  font-size: 15px;
}
.product-card .product-details p.price {
  color: var(--ultimateDarkred);
  font-size: 16px;
}

.product-card p.description {
  font-size: 13px;
  color: var(--mediumGray);
}

.action-bar {
  top: 10%;
  right: -25px;
}

.wishlist-icon {
  top: 4%;
  right: 15px;
}

.product-card .product-image > img:last-child {
  display: none;
}

.product-card:hover .product-image img:nth-child(1) {
  display: none;
}
.product-card:hover .product-image img:nth-child(2) {
  display: block;
}

/* Special Product Card Styles*/
.special-product-card {
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
}

/* Famous Card Styles*/
.famous-card .famous-content {
  top: 10%;
  left: 10%;
}
.famous-card img {
  border-radius: 10px;
}
.famous-content h5 {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: white;
  margin-bottom: 7px;
}
.famous-content h6 {
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  color: white;
}
.famous-content p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 100;
  color: white;
}

/* Our Store */
.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 10px 15px;
}
.filter-card ul,
.filter-card .form-check-label {
  list-style: none;
  font-size: 13px;
  line-height: 30px;
  color: var(--mediumGray);
  cursor: pointer;
}
.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}
.filter-card .form-check-input:checked {
  background-color: var(--orange);
}
.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--ultimateDarkred);
  margin-bottom: 20px;
}
.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--ultimateDarkred);
  margin-bottom: 20px;
}

.colors {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.random-product h5 {
  font-size: 14px;
  margin-bottom: 8px;
}
.random-product:first-child {
  padding: 10px 0px;
  border-bottom: 1px solid var(--lightGray);
}
.filter-sort-grid {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}
.grid img {
  width: 30px;
  height: 30px;
  background-color: var(--ultimateLightGray);
  padding: 8px;
  border-radius: 3px;
  cursor: pointer;
}
.gr-12 {
  width: 100%;
}
.gr-6 {
  width: 49%;
}
.gr-4 {
  width: 32.5%;
}
.gr-3 {
  width: 24.2%;
}

.gr-6 .product-image {
  width: 100%;
}
.gr-6 .product-image img {
  margin: auto;
  display: block;
}

.gr-12 .product-card {
  display: flex;
  gap: 20px;
}
/* .gr-12 .product-card .product-image {
  width: 270px;
} */
.gr-12 .action-bar {
  top: 15%;
}

/* Contact Page Styles */
.contact-inner-wrapper {
  padding: 30px 20px;
  border-radius: 15px;
  background-color: white;
  gap: 15px;
}
.contact-inner-wrapper > div {
  width: 48%;
}
.contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}
.contact-inner-wrapper form .form-control {
  background-color: var(--background);
  border-radius: 10px;
  border-color: transparent;
  padding: 10px;
}
.contact-inner-wrapper ul {
  list-style: none;
}
.contact-inner-wrapper li,
.contact-inner-wrapper li a {
  color: var(--mediumGray);
}

/* Compare Product Page Styles */
.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}
.compare-product-card .cross,
.wishlist-card .cross {
  width: 25px;
  padding: 3px;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.compare-product-details h5.title,
.wishlist-card h5.title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 500;
  color: var(--ultimateDarkred);
}

.compare-product-details h6.price,
.wishlist-card h6.price {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
}
.compare-product-card .product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* Auth Card Styles */
.auth-card {
  padding: 20px;
  background-color: white;
  width: 500px;
  margin: 30px auto;
  border-radius: 10px;
}
.auth-card h3 {
  font-size: 19px;
  font-weight: 500;
  color: var(--mediumGray);
}

.auth-card p {
  font-size: 13px;
  color: var(--mediumGray);
}

.auth-card .form-control {
  height: 50px;
  background-color: var(--background);
  color: var(--mediumGray);
  border-color: transparent;
  font-size: 14px;
  border-radius: 10px;
}
.auth-card a {
  font-size: 14px;
  font-weight: 400;
  color: var(--ultimateDarkred);
}
.signup {
  background-color: var(--orange);
  color: var(--darkBlue);
  border: none;
}
.signup:hover {
  background-color: var(--darkBlue);
  color: white;
}

/* Policy Page Styles */
.policy {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}
/* Single Product Page Styles */
.description-wrapper h4,
.reviews-wrapper h4 {
  font-size: 26px;
  color: var(--ultimateDarkred);
}
.description-wrapper p {
  font-size: 14px;
  color: var(--mediumGray);
}
.reviews-inner-wrapper {
  background-color: white;
  padding: 20px;
}
.reviews-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 20px;
}
.reviews-head h4 {
  font-size: 18px;
  color: var(--ultimateDarkred);
}
.reviews-head p,
.reviews-head a {
  font-size: 14px;
  color: var(--mediumGray);
}
.reviews-form {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.reviews-form h4 {
  font-size: 16px;
  color: var(--mediumGray);
}
.review:not(:last-child) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.review p {
  font-size: 14px;
  color: var(--mediumGray);
}
.product-image {
  border-radius: 10px;
}
.main-product-image {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}
.main-product-image img {
  width: 100% !important;
}
.other-products-image img {
  background-color: white;
  padding: 20px;
}
.other-product-images > div {
  padding: 20px;
  width: 48.5%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.main-product-details {
  padding: 30px 20px;
  background-color: white;
  border-radius: 10px;
}
.main-product-details h3.title {
  font-size: 18px;
  color: var(--ultimateDarkred);
  font-weight: 600;
  margin-bottom: 10px;
}
.main-product-details p.price {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.main-product-details a.review-btn {
  color: var(--mediumGray);
  font-size: 13px;
}
.main-product-details .t-review {
  color: var(--mediumGray);
  font-size: 13px;
}

.main-product-details .product-heading {
  font-size: 14px;
  line-height: 28px;
  color: var(--ultimateDarkred);
  margin-bottom: 0px;
}
.main-product-details .product-data {
  font-size: 13px;
  color: var(--mediumGray);
  margin-bottom: 0px;
}
.main-product-details a {
  font-size: 14px;
  color: var(--ultimateDarkred);
}

/* Cart Page styles */
.cart-header,
.cart-data {
  border-bottom: 1px solid var(--lightGray);
}
.cart-header h4 {
  font-size: 13px;
  color: var(--mediumGray);
}
.cart-col-1 {
  width: 40%;
}
.cart-col-1 p {
  color: var(--mediumGray);
  font-size: 14px;
}
.cart-col-2 {
  width: 10%;
}
.cart-col-3 {
  width: 15%;
}
.cart-col-4 {
  width: 15%;
}
.cart-data h5.price {
  font-size: 14px;
  color: var(--ultimateDarkred);
}

/* Shipping Page Styles */
.total {
  font-size: 14px;
  color: var(--ultimateDarkred);
}
.total-price {
  font-size: 16px;
  color: var(--mediumGray);
}
