* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --darkBlue: #131921;
  --darkGray: #3b4149;
  --orange: #fea569;
  --darkOrange: #bf4800;
  --mediumBlue: #232f3e;
  --background: #f5f5f7;
  --lightGray: #ededed;
}
body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  color: white;
  display: inline-block;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-22 {
  gap: 22px;
}
.gap-30 {
  gap: 30px;
}

.button {
  background-color: var(--mediumBlue);
  color: white;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 25px;
}

.button:hover {
  background-color: var(--darkOrange);
  color: white;
}
/* Header styles */

.header-top-strip {
  border-bottom: 1px solid var(--darkGrey);
  background-color: var(--darkBlue);
}

.header-upper {
  background-color: var(--darkBlue);
}

.header-upper .input-group-text {
  background-color: var(--orange);
}

.header-bottom {
  background-color: var(--mediumBlue);
}
.header-bottom .menu-links a,
.header-bottom .dropdown button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.header-bottom .dropdown button:focus {
  box-shadow: none;
}
.header-bottom .dropdown-menu {
  background-color: var(--darkBlue);
  width: 100%;
  transform: translate3d(0px, 57px, 0px) !important;
}
.header-bottom .dropdown-item {
  padding: 20px;
  margin-bottom: 3px;
  border-bottom: 1px solid var(--darkGrey);
}
.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--orange) !important;
}
.header-bottom .dropdown-item:hover {
  background-color: transparent;
}

/* Footer styles */
footer {
  background-color: var(--mediumBlue);
}
footer:not(:first-child) {
  border-top: 1px solid var(--darkGrey);
}
footer .input-group-text {
  background-color: var(--mediumBlue);
  color: white;
  padding: 8px 17px;
}

/*Home page styles*/
.main-banner-content {
  top: 15%;
  left: 5%;
}

.main-banner-content h4 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--darkOrange);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 52px;
  line-height: 64px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.4;
  color: var(--darkGrey);
}

.small-banner-content {
  top: 25%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--darkOrange);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -2px;
  font-weight: 500;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: var(--darkGrey);
}

.small-banner {
  width: 48%;
}

.home-wrapper-2 {
  background-color: var(--background);
}
.categories {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.categories > div {
  width: 24%;
}
.categories>div:nth-child(1),
.categories>div:nth-child(2),
.categories>div:nth-child(3),
.categories>div:nth-child(4) {
  border-bottom: 1px solid var(--lightGray);
}